<%- include('partials/header.ejs') %>
    <div class="container">
        <h3 class="fw-bold text-center">Wigs For Women</h3>
        <div class="container" id="wigs">
            <img src="/images/samples/sample5.jpg" alt="" style="overflow: hidden;">
            <div class="video-container">
                <video controls>
                    <source src="/videos/Lace wig install tutorial .mp4" type="video/mp4" />                    
                    
                </video>                  

            </div>                       
            <img src="/images/samples/sample6.jpg" alt="">
        </div>  

    </div>
    <div class="container">
        <div class="text-center">
            <h3 class="py-3 my-4">Find The Perfect Human Wig For Every Style</h3>
            <p class="text-start">Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit accusantium ab deserunt aspernatur laborum voluptatem voluptate quaerat praesentium perspiciatis sed non dolor, doloribus, minus veritatis cupiditate ad ipsum aliquid! Veniam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis tempora minima doloribus quisquam molestiae, error autem ex inventore, necessitatibus veritatis numquam sit. Fuga ex tenetur ducimus, consequatur excepturi dolores impedit? <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis voluptates, quia natus, veniam in eos laborum inventore amet ab quis unde qui iusto dolore, corrupti eum itaque totam similique <voluptate class="lorem"></voluptate></p>

        </div>
    </div>
    <div class="container my-5 py-5">
        <div class="text-center py-3">
           <h2 class="fw-bold">Wigs For Women FAQs</h2> 

        </div>
        <div class="">

            <!--accordion-->
            <div class="accordion" id="chapters">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-1" aria-expanded="true" aria-controls="chapter-1">
                            How Do I clean my wig?
                        </button>
                    </h2>
                    <div id="chapter-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#chapters">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, odio autem. Dolor vitae numquam at sequi beatae voluptate debitis sit perspiciatis, ipsa unde praesentium, natus iure magni reprehenderit est impedit.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit delectus quia, sed perferendis autem, alias explicabo soluta unde similique beatae distinctio vero labore? Praesentium sit tenetur cum dolorum cupiditate assumenda.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-2">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-2" aria-expanded="true" aria-controls="chapter-2">
                            Human Hair or Synthetic Hair?
                        </button>
                    </h2>
                    <div id="chapter-2" class="accordion-collapse collapse" aria-labelledby="heading-2" data-bs-parent="#chapters">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, odio autem. Dolor vitae numquam at sequi beatae voluptate debitis sit perspiciatis, ipsa unde praesentium, natus iure magni reprehenderit est impedit.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit delectus quia, sed perferendis autem, alias explicabo soluta unde similique beatae distinctio vero labore? Praesentium sit tenetur cum dolorum cupiditate assumenda.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-3">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-3" aria-expanded="true" aria-controls="chapter-3">
                            How Do I Choose A Color?
                        </button>
                    </h2>
                    <div id="chapter-3" class="accordion-collapse collapse" aria-labelledby="heading-3" data-bs-parent="#chapters">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, odio autem. Dolor vitae numquam at sequi beatae voluptate debitis sit perspiciatis, ipsa unde praesentium, natus iure magni reprehenderit est impedit.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit delectus quia, sed perferendis autem, alias explicabo soluta unde similique beatae distinctio vero labore? Praesentium sit tenetur cum dolorum cupiditate assumenda.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-4">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-4" aria-expanded="true" aria-controls="chapter-4">
                            How Long Do Women's wig last?
                        </button>
                    </h2>
                    <div id="chapter-4" class="accordion-collapse collapse" aria-labelledby="heading-4" data-bs-parent="#chapters">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, odio autem. Dolor vitae numquam at sequi beatae voluptate debitis sit perspiciatis, ipsa unde praesentium, natus iure magni reprehenderit est impedit.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit delectus quia, sed perferendis autem, alias explicabo soluta unde similique beatae distinctio vero labore? Praesentium sit tenetur cum dolorum cupiditate assumenda.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-5">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#chapter-5" aria-expanded="true" aria-controls="chapter-5">
                            What Are the qualities of a good wig?
                        </button>
                    </h2>
                    <div id="chapter-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#chapters">
                        <div class="accordion-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, odio autem. Dolor vitae numquam at sequi beatae voluptate debitis sit perspiciatis, ipsa unde praesentium, natus iure magni reprehenderit est impedit.</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit delectus quia, sed perferendis autem, alias explicabo soluta unde similique beatae distinctio vero labore? Praesentium sit tenetur cum dolorum cupiditate assumenda.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

    </div>
<%- include('partials/footer.ejs') %>