<%- include('partials/header.ejs') %>
    <div class="container">
        <h3 class="fw-bold text-center">Wigs For Women</h3>
        <div class="container" id="wigs">
            <img src="/images/samples/sample5.jpg" alt="" style="overflow: hidden;">
            <div class="video-container">
                <video src="/videos/Lace wig install tutorial .mp4"></video>
                

            </div>                       
            <img src="/images/samples/sample6.jpg" alt="">
        </div>
        

    </div>
<%- include('partials/footer.ejs') %>